 h1{
    
    background-color: black;
    color: aqua;
}

.red{
    background-color: red; */ 
}
.clickme{
background-color: rgb(255, 68, 0);
border: none;
cursor: pointer;
color: white;
border-radius: 7px;
}
.clickme:hover{
background-color: blue;
color: white;
}
.MemberLogin{
    font-size: x-large;
    color: aqua;
}
.login{
    background-color: aqua;
    color: white;
    border: none;
   
    width: 300px; height:60px;
cursor:pointer;    
}
.Username{
    background-color: darkgray;
    border-radius: 7px;
    width: 300px; height:60px; */
}
.Password{
    background-color: darkgray;
    border-radius: 7px;
    width: 300px; height:60px;
}
.body{
    text-align: center;
    background-color: rgb(47, 85, 133);

}
 .fieldset{
    width: 300px;height: 280px;
    background-color: white;
    margin:auto;
    margin-top:150px;
}
.outer{
    background-color: red;
    margin-left:100px;
    margin-right: 100px;
} */
.outer h1{
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    background-color: aqua;
    display: inline;
}
.outer p{
    padding-left:20px;
    padding-right: 20px;
    text-align: justify;
       background-color: rgb(91, 64, 225);
       margin-top: 20px;
       margin-left: 20px;
       margin-right: 20px;
       padding-top: 20px;
       padding-bottom: 20px;
}
.outer button{
    background-color: chartreuse;
    border: none;
    border-radius: 7px;
    margin-bottom: 15px;
    margin-left: 600px;
    padding: 20px;
    cursor: pointer;
}   



.outerdiv{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,121,9,1) 18%, rgba(0,255,23,1) 62%, rgba(0,255,23,1) 100%); 
padding: 20px;
margin-left: 70px;
margin-right: 70px;
}
.innerdiv{
   background-color:whitesmoke;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
   
}
.corediv{
    margin: 5px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.later{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px; height:30px;
    padding-left: 35px;
    padding-right: 35px ;
}
.p{
    text-align: justify;
}
.take{
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    width: 100px; height: 30px;
    cursor: pointer;

}
.take:hover{
    background-color: blue;
}