@media screen and (max-width :768px) {
    nav{
       gap: 3px;
       padding-top: 3px;
       padding-bottom: 3px;
    flex: none;
    }
   
    
}
@media screen and (max-device-width:480px) {
    nav{
       
        gap: 5px;
        padding-top: 3px;
       padding-bottom: 3px;
    }
    
}